#sabad {
    -fx-background-radius:100%;

}
#car{
    -fx-background-radius:15px 15px 0 0;
    -fx-background-color: linear-gradient(to bottom, #ffd2a8 ,#ffdab8);
}
#bike{
    -fx-background-radius:0 0 15px 15px;
    -fx-background-color: linear-gradient(to bottom, #fce8d4 ,#fcfaf7);
}
#kamion{
    -fx-background-radius:0 0 0 0;
    -fx-background-color: linear-gradient(to bottom, #ffdab8 ,#fce0c5);

}
#vanet{
    -fx-background-radius:0 0 0 0;
    -fx-background-color: linear-gradient(to bottom, #fce0c5 ,#fce8d4);
}
#page2{
    /*-fx-background-color: linear-gradient( to bottom, #bcf2f7, #f2f7f7);
    -fx-background-color: linear-gradient(to right, #bcf2f7 50%, transparent 50%), linear-gradient(to left,  #bcf2f7 50%, transparent 50%);
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: linear-gradient(to right, #bcc4c4 0%, #ffffff 50%, transparent 50%), linear-gradient(to left, #bcc4c4 0%, #ffffff 50%, transparent 50%);
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;*/
    -fx-background-color: linear-gradient(to bottom, #f2f4f7 ,#ffffff);
}
#up1{
    -fx-background-color: linear-gradient( to bottom, #050505 , #bbbdbd);
}
#up2{
    -fx-background-color: linear-gradient( to bottom, #000108 , #020c52);
}
#border{
    /*-fx-background-color: linear-gradient(to right, #bcc4c4 0%, #ffffff 50%, transparent 50%), linear-gradient(to left, #bcc4c4 0%, #ffffff 50%, transparent 50%);
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;*/
    -fx-background-color: linear-gradient( to bottom, #969999 , #bbbdbd);

}
#ScrollPane{
    -fx-background-color: linear-gradient(to right, #bcc4c4 0%, #ffffff 50%, transparent 50%), linear-gradient(to left, #bcc4c4 0%, #ffffff 50%, transparent 50%);
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
#HBoxcenter{
    -fx-background-color: linear-gradient( to bottom, #969999 , #bbbdbd);
}
#Search{
    -fx-background-radius:15px 15px 15px 15px;
}